.body-wrap {
   box-shadow:none !important;
   background-color: #f0f2f5 !important;
}
.root {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.form_wrap {
   width: 450px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 1px 2px 10px rgba( #000000,  .3);
   padding:0 24px 24px 24px;
   .form_inner {
      margin-top:15px;
      padding: 0 30px;
   }
}
.form_title {
   text-align: center;
   font-weight: 100;
}
.failed {
   color: red;
   text-align: center;
   padding-bottom: 15px;
}
.logoBlock {
   background: #04b9bb;
   margin-left: -24px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   padding: 17px;
   margin-right: -25px;
   display: flex;
   /* display: block; */
   align-items: center;
   justify-content: center;
   color: #fff;
}
