header {
  background: #2b76b9;
  color: #fff;
  height: 5rem;
  box-shadow: 11px 10px 20px #142f64;
  z-index: 100;
  position: relative;
  &.pattern:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #0f8a9d;
    background: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    height: 640px;
  }

  .container {
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }

  .header {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .logoBlock {
    display: flex;
  }
  .logo {
    max-height: 60px;
  }
  .logo_text {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 15px;
    align-self: center;
  }
  .menuBlock {
    display: inline-flex;
    ul {
      margin-bottom: 0;
      li {
        display: inline-flex;
        align-items: flex-end;
        a {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0px;
          font-weight: 700;
          color: rgba(255, 255, 255, 0.8);
          text-transform: uppercase;
          text-decoration: none;
          line-height: 16px;
          padding: 8px 24px;
        }
      }
    }
    .button-sm {
      padding: 8px 24px;
      height: 32px;
    }
  }
  .logout {
    cursor: pointer;
    font-size: 23px;
    padding: 0 15px;
    &:hover svg {
      color: red;
    }
  }
}
