.container {
  max-width: 848px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-bottom:80px;
  h1,
  .h1 {
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: #fff;
    font-weight: 100;
  }
  .heroSubtitle {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
  }
  .heroMedia {
    margin-top: 64px;
    position: relative;
    padding: 35px 10px;
    margin-top: 40px;
    background: #fff;
    border-radius: 4px 4px 0 0;
    color: #000;
    display: inline-flex;
    flex-wrap: wrap;
    .featureBlock {
        padding:0 15px;
        width: 50%;
        position: relative;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 16px 48px #e3e7eb;
      mix-blend-mode: multiply;
    }
  }
  .madeWithBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
    align-items: center;
    li img {
        filter: grayscale(0);
        &:hover {
            filter: grayscale(1);
        }
    }
  }
  .madeWithText {
    color: #000;
    font-size: 25px;
    margin: 80px 0 30px;
    font-weight: 300;
  }
  ion-icon {
    font-size: 42px;
    color: #03babc;
}
}
