.root {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}
.form {
	margin-bottom: 45px;
	max-width: 800px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	input {
		margin: 0 5px;
		padding: 7px;
		border-radius: 3px;
	}
	button {
		padding: 10px 21px;
		padding: 10px 21px;
		margin: 0 5px;
		background-color: #2a71cc;
		border: none;
		color: #fff;
		font-size: 18px;
		text-transform: capitalize;
	}
	.inactive {
		border-color: red !important;
	}
}
