.cover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background:#F6F8FA;
    text-align: center;
    padding: 50px 0 140px;
	img {
		width: 100px;
	}
	
	svg {
		g {
			fill: red;
		}
	}
    &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
    }
}

.wrap {
    position: relative;
    z-index: 1;
}


