.body-wrap {
   background: #fff;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   max-width: 1440px;
   margin: 0 auto;
   box-shadow: 0 16px 48px #666968;
 }