* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f8fa;
}

.container {
  max-width: 1128px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  color: green;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.button {
  display: inline-flex;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none !important;
  background-color: #fff;
  color: #00a2b8 !important;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  height: 48px;
  text-align: center;
  white-space: nowrap;
}
.button-sm {
  padding: 8px 24px;
  height: 32px;
}
.ant-btn {
  transition: none;
}
.ant-btn-primary {
  background: #00cec5;
  background: linear-gradient(65deg, #00a2b8 -25%, #0be2c1 100%);
  border: none;
  text-transform: uppercase;
  padding: 10px 25px;
  height: inherit !important;
  font-weight: 700;
  box-shadow: 0 4px 15px rgba(32, 43, 54, 0.22);
  margin-bottom: 15px;
}
.hero {
  padding-top: 80px;
}
.hero {
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active,
.ant-btn.active {
  text-decoration: none;
  background: #56a4e4;
}
.ant-tabs-nav .ant-tabs-tab {
  font-size: 20px;
}

.ant-tabs-nav {
  display: block;
  text-align: center;
}
.ant-form-item-label {
  text-align: left;
}

.login_logoBlock {
  background: #04b9bb;
  margin-left: -24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 17px;
  margin-right: -25px;
  display: flex;
  /* display: block; */
  align-items: center;
  justify-content: center;
  color: #fff;
}
.ant-layout-header {
  z-index: 400;
}
